# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# RAG / índices
# =========================
cache/
*.faiss
*.pkl

# =========================
# Manuales y documentos
# =========================
manuals/
*.pdf

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db